<!doctype html>
<html lang="en">
    <head>
        <title>Exploris</title>

        <link rel="shortcut icon" type="image/png" href="images/ammonite.png" />

        <link rel="stylesheet" type="text/css" href="vendor/semantic/css/semantic.css" />

        <link rel="stylesheet" type="text/css" href="css/style.css" />

        <script type="text/javascript" src="vendor/jquery.js"></script>
        <script type="text/javascript" src="vendor/semantic/javascript/semantic.js"></script>

        <script data-main="javascript/app" src="vendor/require.js"></script>
    </head>
    <body>

        <div id="fullscreen-viewer">

            <table id="game-map"></table>

            <section id="dialogue" class="ui basic segment"></section>

            <section id="viewer" class="ui list"></section>

            <section id="inventory" class="ui items"></section>

            <section id="keybar" class="ui top attached segment">
                <div class="ui horizontal small divided list"></div>
            </section>

        </div>

        <script id="viewerTemplate" type="text/template">
            <div class="item">
                <img class="ui image" src="/images/<%= imageName %>.png">
                <div class="content">
                    <div class="header"><%= objectType %></div>
                    <%= summary %>
                </div>
            </div>
        </script>

        <script id="keybarTemplate" type="text/template">
            <div class="item">
                <div class="content">
                    <div class="ui small label"><%= key %></div><%= command %>
                </div>
            </div>
        </script>

    </body>
</html>

