<!doctype html>
<html lang="en">
    <head>
        <title>Exploris</title>

        <link rel="shortcut icon" type="image/png" href="images/ammonite.png" />
        <link rel="stylesheet" type="text/css" href="vendor/semantic/css/semantic.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />

        <link rel="stylesheet" type="text/css" href="fullscreen-test.css" />

        <script type="text/javascript" src="vendor/underscore.js"></script>
        <script type="text/javascript" src="vendor/jquery.js"></script>
        <script type="text/javascript" src="vendor/semantic/javascript/semantic.js"></script>
    </head>
    <body>

        <div id="fullscreen-viewer">
            <table id="game-map"></table>
        </div>

        <section id="dialogue" class="ui basic segment">
        </section>

        <section id="viewer" class="ui list">
        </section>

        <section id="inventory" class="ui items">
        </section>

        <div id="container" class="ui page grid" style="display: none;">
            <div class="column">
                <section id="keybar" class="ui top attached segment">
                    <div class="ui horizontal small divided list">
                    </div>
                </section>
                <div class="ui attached segment">
                    <div class="ui grid">

                        <div id="side-bar" class="three wide column">
                            <div class="ui divider"></div>
                        </div>

                        <div id="mid-column" class="nine wide column">
                            <section id="game" class="ui basic segment">
                            </section>
                        </div>

                        <div class="four wide column">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script id="viewerTemplate" type="text/template">
            <div class="item">
                <img class="ui image" src="/images/<%= imageName %>.png">
                <div class="content">
                    <div class="header"><%= objectType %></div>
                    <%= summary %>
                </div>
            </div>
        </script>

        <script id="keybarTemplate" type="text/template">
            <div class="item">
                <div class="content">
                    <div class="ui small label"><%= key %></div><%= command %>
                </div>
            </div>
        </script>

        <script src="javascript/class.js"></script>
        <script src="javascript/util.js"></script>

        <script src="javascript/htmlview.js"></script>
        <script src="javascript/keyboardInput.js"></script>

        <script src="javascript/gameobject.js"></script>
        <script src="javascript/game.js"></script>
        <script src="javascript/items.js"></script>
        <script src="javascript/creatures.js"></script>
        <script src="javascript/gamemap.js"></script>

        <script src="javascript/main.js"></script>

        <script>main();</script>

    </body>
</html>

