/* SEMANTIC OVERRIDES */

.ui.grid > .column {
    margin: 5px 0;
}

#inventory .item {
    margin-bottom: 10px;
}

#keybar .ui.label {
    margin-right: .5em;
}

/* MY CSS */

#keybar {
    font-size: 10px;
}

#inventory .item {
    width: 75px;
    min-height: 75px;
    height: 75px;

    background-repeat: no-repeat;
    background-position: 10px 10px;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #eee;
}

div#container {
}

table#game-map {
    border-collapse: collapse;
    margin: 0 auto;
    border: 5px inset #edd;
}

table#game-map td {
    padding: 0;
}

table#game-map td div.inner {
    width: 25px;
    height: 25px;
    padding: 0;

    text-align: center;
    font-weight: bold;

    background-color: #ddfedd;
}

section#dialogue {
    margin-top: 2px;
    color: gray;
}

#dialogue > .message {
    background-repeat: no-repeat;
    background-position: 8px 12px;
    padding-left: 40px;
}

section#dialogue div p {
}

/* backgrounds on the bottom */
.water { background-image: url('/images/aquarius.png'); }

/* items in the middle */
.lumber { background-image: url('/images/wood-pile.png'); }
.apple { background-image: url('/images/shiny-apple.png'); }
.tree { background-image: url('/images/beech.png'); }
.flame { background-image: url('/images/flame.png'); }

/* creatures come after because they should go on top */
.ammonite { background-image: url('/images/ammonite.png'); }

/* player should always be the topmost */
.player { background-image: url('/images/cowled.png'); }
